{% load static %}
{% load bootstrap4 %}
{%load plotly_dash%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Анализ ОРЭМ</title>
    <link rel="stylesheet" href="{% static 'dash_RSV/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="{% static 'dash_RSV/js/main.js' %}"></script>
    <!-- Yandex.Metrika counter -->

<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(89825037, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/89825037" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</head>
<body>
<main>
<!-- Tab content -->
<aside>
    <ul>

        <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'dash_RSV')"><li><i class="fas fa-chart-line"></i> Цена РСВ</li></button>
  <button class="tablinks" onclick="openCity(event, 'consum_and_gen')"><li><i class="fas fa-industry"></i> Генерация и потребление в ОЭС</li></button>
  <button class="tablinks" onclick="openCity(event, 'gen_types')"><li><i class="fas fa-bolt"></i> Генерация по источникам</li></button>

</div>

<div id="dash_RSV" class="tabcontent">
    {%plotly_app name="SimpleExample" ratio=2.2%}
</div>

<div id="consum_and_gen" class="tabcontent">
	{%plotly_app  name="ConsumApp" ratio=1%}
</div>

<div id="gen_types" class="tabcontent">
	<h3>Страница в разработке</h3>
</div>
    </ul>

</aside>
</main>

</body>
</html>
